QWidget
{
    color: black;
    background-color: white;
    selection-background-color:#4289b8;
    selection-color: black;
    background-clip: border;
    border-image: none;
    outline: 0;
}

QPushButton {
	min-width: 20px;
    max-width: 50px;
    min-height: 20px;
    max-height: 40px;
}

/*/*QComboBox
{
    
    background-color: white;
    border-style: solid;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 2px;
    min-width: 75px;
}*/

/*QComboBox:hover
{
    border: 1px solid blue;
    color: black;
}

QComboBox:on
{
  border-style: solid;
  border-color: #99CCFF;
  border-radius: 3px;
}




QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


QComboBox::down-arrow {
    image: url(Resources/ComboBox_Right1.png);
}*/
