QWidget
{
    color: black;
    background-color: white;
    selection-background-color:#4289b8;
    selection-color: black;
    background-clip: border;
    border-image: none;
    outline: 0;
}

QToolBar {
    border: 1px solid silver;
    background: 1px solid #4289b8 ; /*set QToolBar into Blue One*/
    font-weight: bold;
}

QToolButton {
    background-color: #4289b8;
    border: 1px solid #d4e4ef;
    border-radius: 3px;
    margin: 3px;
    width: 40px;
    height: 40px;
    padding: 2px;
}

QToolButton:pressed, QToolButton::menu-button:pressed, QToolButton:checked, QToolButton::menu-button:checked {
    background-color: #5e95b8;
    border: 1px solid silver;
}

QToolButton:hover, QToolButton::menu-button:hover {
    background-color: #5e95b8;
    border: 1px solid gray;
}

QToolButton:disabled{
    background-color: black;
    border: 1px solid gray;
}


QToolTip
{
    border: 1px solid #3A3939;
    background-color: black;
    color: white;
    padding: 4px;
    opacity: 200;
}



QPushButton
{
    padding: 1px;
    border-radius: 5px;
    outline: none;
    min-width: 30px;
    max-width: 40px;
    min-height: 20px;
    max-height: 40px;
    color: black;
    font-size: 20px;
}

QPushButton:pressed,QPushButton:hover
{
    color:#67a1e0;
}

