/*QWidget
{
    color: black;
    background-color: white;
    selection-background-color:#4289b8;
    selection-color: black;
    background-clip: border;
    border-image: none;
    outline: 0;
}*/


QWidget#SummaryInstanceWidget{
    background-color: red;
    color: red;
    border-style: dashed;
    border-color: blue;
}


QLabel#ExtendedLabel{
	border: 1px solid silver;
    background-color: #302F2F;
    border-radius: 3px;
    color: white;
    padding: 1px;
    opacity: 20;
    min-height: 10px;
    max-height: 20px;
    spacing: 2px;
}

QLabel#ExtendedLabel::item:pressed{
	color: red;
}







